
@import url(styles.css);
@import url(header.css);
/*
@import url(footer.css);
*/
/* Blog Styles */
.blog-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: flex-start;
 }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border: 2px solid #808080;

}

.card-title {
   font-weight: bold;
 }

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feature-card {
  box-shadow: 5px 5px;
}









