@import url(styles.css);
@import url(header.css);
@import url(footer.css);

/* blog post styles */
.blog-post {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "share"
    "post-title"
    "post-image"
    "author"
    "content";
}

.share-container {
  display: flex;
  height: 50px;
  grid-area: share;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.share-icon {
  width: 50px;
  font-size: 30x;
  margin-right: 5px;
}

.post-title {
   text-align: center;
   font-weight: bold;
   font-size: 1.2em;
}

.post-image {
  display: flex;
  grid-area: post-image;
  height: 200px;
 }



