/* layout components */

/* logo */
.logo-box {
  display: flex;
  grid-area: logo-box;
  justify-content: center;
 }

.logo {
  max-height: 50px;
  max-width: 200px;
  width: 100%;
}

/* site name */
.site-name {
  grid-area: site-name;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: var(--black);
}

/*navbar */
.navbar {
  display: flex;
  grid-area: navbar;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color3);
}

.nav-button {
  width: 100%;
  background: var(--color1);
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  padding-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-button:hover {
    background-color: var(--black);
  }

.nav-disable {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--gray);
}

/* code box */
  .code-box {
    margin-bottom: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .code-image {
    display: flex;
    max-width: 300px;
  }

  /* footer */
 .footer {
  display: flex;
  grid-area: footer;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--color3);
  padding-top: 10px;
  border: 4px solid var(--color2);
}

