/* normalized element styles */

/* root element styles*/
html {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  --color1: #00838f;
  --color2: #324B4E;
  --color3: #95B0B4;
  --black: #000;
  --light-gray: #D3D3D3;
  --gray: #888;
  --white: #fff;
  --bkp-small: 480px;
  --bkp-medium: 768px;
  --bkp-large: 992px;
  --bkp-xlarge: 1200px;
}

body {
  margin: 0;
}

/* typography */
h1,
h2,
h3,
p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;

}

h1 {
  font-size: 2em;
  text-transform: capitalize;
}

h2 {
  font-size: 1.75em;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5em;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid var(--gray);
}

figure {
  margin: 0;
}

/* links */
a {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--color1);
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* make non text elements responsive */
img,
embed,
object,
iframe {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* ensure touch targets can be reached on small devices */
nav,
a,
button {
  min-width: 40px;
  min-height: 30px;
}
