/* stadard styles to be used across all web pages */

/* typography */
html {
  font-size: 16px;
  --color1: #00838f;
  --color2: #324B4E;
  --color3: #95B0B4;
  --black: #000;
  --white: #fff;
}


.text-small {
  font-size: .8em;
}

.text-large {
  font-size: 1.2em;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

/* colors */
.bg-color1 {
  background: var(--color1) ;
}

.bg-color2 {
  background: var(--color2);
}

.bg-color3 {
  background: var(--color3);
}

.bg-black {
  background: var(--black);
}

.bg-white  {
  background: var(--white);
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

/* links */
a {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--color1);
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* make non text elements responsive */
img,
embed,
object,
iframe {
  width: 100%;
  height: auto;
}

/* ensure touch targets can be reached on small devices */
nav,
a,
button {
  min-width: 40px;
  min-height: 40px;
}