/*CLASS STYLES */

/* text styles */
.text-small {
  font-size: .8em;
}

.text-large {
  font-size: 1.2em;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-black {
  color: var(--black);
}

.text-gray {
  color: var(--gray);
}

.text-white {
  color: var(--white);;
}

/* background colors */
.bg-color1 {
  background: var(--color1) ;
}

.bg-color2 {
  background: var(--color2);
}

.bg-color3 {
  background: var(--color3);
}

.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}

/* navigation */
.nav-button:hover {
  background-color: var(--black);
}

.nav-disable {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: var(--gray);
}

/* other */
.float-right {
  float: right;
}

.float-left {
  float: left;
}
